<div class="ui middle aligned stackable grid container" style="margin-bottom: 20px;">
  <div class="ui three item menu stackable" style="margin-top:20px;">
    <a class="item postive" routerLink="/profile/editor" routerLinkActive="active">
      <i class="plus icon"></i> Opret ny annonce
    </a>
    <a class="item postive" routerLink="/profile/horsesList" routerLinkActive="active">
      <i class="list icon"></i> Mine annoncer
    </a>
    <a class="item" routerLink="/profile/profileEditor" routerLinkActive="active" style="min-width: 180px">
      <i class="info icon"></i> Oplysninger
    </a>
  </div>
  <div class="divider"></div>
  <router-outlet></router-outlet>
</div>